<table class="hovered">
<thead>
    <tr>
        <th>Add New Shop</th>
    </tr>
</thead>
<tr>
    <td>
        <h3>Code</h3>
    <td>
    <div class="input-control text span3">
        <input type="text" class="with-helper" id="code"/>
        <button class="helper"></button>
    </div>
    </td>
</tr>
<tr>
    <td>
        <h3>Name</h3>
    </td>
    <td>
        <div class="input-control text span3">
            <input type="text" class="with-helper" id="name"/>
            <button class="helper"></button>
        </div>
    </td>
</tr>
<tr>
    <td>
        <input type="button" value="Add" class="add" />
        <input type="button" value="Cancel" class="cancel" />
    </td>
    <td>
        <div class="error">

        </div>
    </td>
</tr>
</table>